# Configurações do Supabase (100% Gratuito - supabase.com)
NEXT_PUBLIC_SUPABASE_URL=https://xhqqjungilusfiyvmhcg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhocXFqdW5naWx1c2ZpeXZtaGNnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExNzQ0NzMsImV4cCI6MjA5Njc1MDQ3M30.53sIPO7rdJZJktrg0J9Z8JOxewvv_HE-qee4UKkEefI

# Chave de Serviço (Opcional - Usada em rotinas de purga ou tarefas server-side)
SUPABASE_SERVICE_ROLE_KEY=

# URL Base da Aplicação
NEXT_PUBLIC_APP_URL=http://localhost:3000

# VAPID Keys para Web Push (Opcional - pode ser gerado via npx web-push generate-vapid-keys)
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
